body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 50px; /* Extra space for bottom content */
}

h1 {
    text-align: center;
    color: #444;
    margin: 20px 0;
}

.welcome-message {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #555;
    max-width: 600px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="tel"]::placeholder {
    color: #aaa;
    font-size: 12px;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

h4, p {
    color: #888;
    text-align: center;
    margin: 10px 0;
}

p {
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Position / Rank inspiration */
.info-box {
    margin-bottom: 20px;
}

.info-box a {
    display: block;
    color: #007BFF;
    text-decoration: none;
    margin-bottom: 5px;
    cursor: pointer;
}

.info-box a:hover {
    text-decoration: underline;
}

.info-box-content {
    display: none;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

.preview-section {
    text-align: center;
}

.preview-section img {
    max-width: 200px;
    margin: 10px;
}

/* Responsive design */
@media (max-width: 600px) {
    form {
        padding: 15px;
        margin: 10px;
    }

    h1 {
        font-size: 24px;
        margin: 15px 0;
    }

    .welcome-message {
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"],
    input[type="tel"],
    select,
    button {
        font-size: 14px;
    }

    button {
        padding: 12px;
    }

    .info-box a {
        font-size: 14px;
    }

    .info-box-content {
        font-size: 14px;
    }

    .preview-section img {
        max-width: 100px;
    }
}
